---
import { getCollection } from 'astro:content'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem, } from 'accessible-astro-components'
import BlogListPageLayout from '../../layouts/BlogListPageLayout.astro';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('blog');
  const descPosts = [...posts].sort(
    (a, b) => b.data.pubDate - a.data.pubDate
  )

  descPosts.map((post) => {
    console.log("post pubDate "+post.data.pubDate)
    return {
      params: { id: post.id, }
    }
  });
  return paginate(descPosts, { pageSize: 6,})
}
const { page } = Astro.props
---

<DefaultLayout
  title="Posts"
  description="Long form Posting and studies"
>
<div class="container">
  <div class="my-12">
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/blog/1" label="Blog" />
    </Breadcrumbs>
  </div>
</div>
<BlogListPageLayout
page={page}
>
Long form Posting and studies I've completed
</BlogListPageLayout>
</DefaultLayout>


