---
import { getCollection } from 'astro:content';
import DefaultLayout from '../../../../layouts/DefaultLayout.astro';
import BlogListPageLayout from '../../../../layouts/BlogListPageLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';

export async function getStaticPaths({ paginate }) {
    const posts = await getCollection('blog');
    const descPosts = [...posts].sort(
    (a, b) => b.data.pubDate - a.data.pubDate
    )
    const uniqueTags = [...new Set(descPosts.map((post) => post.data.tags).flat())]
    return uniqueTags.flatMap((tag) => {
      const filteredPosts = descPosts.filter((post) => post.data.tags.includes(tag))
      return paginate(filteredPosts, {
        params: { tag },
        pageSize: 6
      })
    })
  }
  const { page } = Astro.props
  const tag = Astro.params 
---
  
  <DefaultLayout
    title="Posts"
    description="Long form Posting and studies"
  >
  <div class="container">
    <div class="my-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog/1" label="Blog" />
        <BreadcrumbsItem href="/tags/" label="Tags" />
        <BreadcrumbsItem currentPage={true} label={tag.tag} />
      </Breadcrumbs>
    </div>
  </div>
  <BlogListPageLayout
  page={page}
  >
  Posts about {tag.tag}
</BlogListPageLayout>
  </DefaultLayout>