---
import BlogCard from "./BlogCard.astro"

const { page, id } = Astro.props
---
<section class="my-12">
    <div class="container">
<ul class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
    {
      page.data.map((post) => (
        <li>
          <BlogCard post={ post.data }
           id={ post.id }
          >
            { post.data.excerpt }
          </BlogCard>
        </li>
      ))
    }
   </ul>
</div>
</section>
<style lang="scss">

  </style>