---
import { Icon } from "astro-icon/components"

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        <Icon name="mdi:coffee-outline"/>Buy me a <a href="https://ko-fi.com/mewtype">Coffee</a>
      </p>
    </div>
    <div class="container">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/markteekman">Mark Teekman</a
        >.
      </p>
    </div>
  </section>
</footer>
