---
import { Icon } from 'astro-icon/components'

const { icon = 'solar:cat-broken', title = 'Title', } = Astro.props
const url = "/blog/tags/" + title.toLowerCase();
---

<div class="tag flex flex-col gap-4">
  <Icon name={icon} />
  <div class="content">
    <a href={url}><h3>{title}</h3></a>

  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .tag {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;
    
    a {
      text-decoration: none;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }
  }
  .tag:hover,
  .tag:focus-within {
    box-shadow: 0 0 0 .01rem var(--action-color-state);
    &::after {
      background-color: var(--action-color-state);
  }
}

  .tag:focus-within a:focus {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  :global(.tag [data-icon]) {
    height: auto;
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .tag::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>