---
import { getCollection } from 'astro:content';
import DefaultLayout from '../../../../layouts/DefaultLayout.astro';
import BlogListPageLayout from '../../../../layouts/BlogListPageLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';

export async function getStaticPaths({ paginate }) {
    const posts = await getCollection('blog');
    const uniqueCategories = [...new Set(posts.map((post) => post.data.categories).flat())]
    return uniqueCategories.flatMap((category) => {
      console.log(category)
      const filteredPosts = posts.filter((post) => post.data.categories.includes(category))
      console.log(filteredPosts)
      return paginate(filteredPosts, {
        params: { category },
        pageSize: 6
      })
    })
  }
  const { page } = Astro.props
  const category = Astro.params 
---
  
  <DefaultLayout
    title="Posts"
    description="Long form Posting and studies"
  >
  <div class="container">
    <div class="my-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/blog/1" label="Blog" />
        <BreadcrumbsItem href="/categories/" label="Categories" />
        <BreadcrumbsItem currentPage={true} label={category.category} />
      </Breadcrumbs>
    </div>
  </div>
  <BlogListPageLayout
  page={page}
  >
</BlogListPageLayout>
  </DefaultLayout>