---
import  BlogList  from "../components/BlogList.astro"
import { Pagination } from "accessible-astro-components";

const { page } = Astro.props
---

<section class="my-12">
    <div class="space-content container">
      <h1>Posts</h1>
      <p class="text-2xl">
        <slot></slot>
      </p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <p class="text-sm"><em>Post {page.start + 1} through {page.end + 1} of {page.total} total posts</em></p>
    </div>
       <BlogList
        page={page}
       />
      <div class="my-12 grid place-content-center">
        <Pagination
          firstPage={page.url.prev ? '/blog' : null}
          previousPage={page.url.prev ? page.url.prev : null}
          nextPage={page.url.next ? page.url.next : null}
          lastPage={page.url.next ? `/blog/${Math.round(page.total / page.size)}` : null}
          currentPage={page.currentPage}
          totalPages={Math.round(page.total / page.size)}
        />
      </div>
    </div>
  </section>